@model Header
<div class="row">
    <div class="col-md-8">
     
        <h4>Title: <b>@Model.Title</b></h4>
        <h4>Text: <b>@Model.Text</b></h4>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>